*{
    box-sizing: border-box; /*Tüm html etiketlerinde geçerli olması için resetleme */
}

body{
 height: 100vh;
 display: flex;
 justify-content: center; /* Yatay alanında ortalama  */
 align-items: center; /* Dikey alanında ortalama */
 margin: 0;

}

.slidercontainer{
    width:700px;
    height:500px;
    overflow: hidden; /*sığmayan resimleri göstermemek için */
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
}

.icon{
    position: absolute;
    color: white;
    top: 50%;
    transform: trasnlateY(-50%);
    cursor: pointer;
    font-size: 25px;
}

.imagecontainer{
    display: flex;
}

.icon:hover{
    color: red;
}

.preve{
    left:10px;
}

.next{
    right: 10px;
}